<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apollo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C4DBCD01DD21C9D005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCDD1DD21CEF005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCE51DD21CF0005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCF91DD21D53005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBD011DD21D53005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC750431D2A532C00458D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC7504D1D2A532D00458D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE8556C1D4815C9006874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE855741D4815C9006874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
