<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apollo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ApolloPerformanceTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GitHubAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>StarWarsAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>StarWarsAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C4DBCD01DD21C9D005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCDD1DD21CEF005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCE51DD21CF0005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBCF91DD21D53005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4DBD011DD21D53005B61D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F8A95771EC0FC1200304A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F98C81C1EC083CA00FFD919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA6ABBB1EC0A988000017BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FACA9B71F42E67200AE2DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBA27391E6ACCFE0011A3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBA274F1E6ACD3E0011A3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC631321E6AE2080062707E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC750431D2A532C00458D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC7504D1D2A532D00458D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCE2CF91E6C213D00E34457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD637E01E6ACF88001EDBC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE8556C1D4815C9006874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE855741D4815C9006874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
