## Build generated
build/
DerivedData/
apollo-ios-cli
!apollo-ios-cli/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store

## Visual Studio Code
.vscode/launch.json

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
**/Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# Local Node Modules for Apollo CLI
node_modules/
package-lock.json
scripts/apollo
scripts/apollo.tar.gz
SwiftScripts/ApolloCLI
Tests/ApolloCodegenTests/scripts
Tests/ApolloCodegenTests/scripts directory
Tests/ApolloCodegenTests/Schema
Tests/ApolloCodegenTests/Output
SwiftScripts/.build-**

# Local Netlify folder
.netlify

# Generated js files we don't need committed
Sources/ApolloCodegenLib/Frontend/dist/

# Local generated packages we don't need in the main project
Sources/AnimalKingdomAPI/Generated/Package.swift
Sources/AnimalKingdomAPI/Generated/Package.resolved
Tests/TestCodeGenConfigurations/**/AnimalKingdomAPI/
Tests/TestCodeGenConfigurations/**/AnimalKingdomAPITestMocks
Tests/TestCodeGenConfigurations/**/Package.resolved
Tests/TestCodeGenConfigurations/**/Podfile.lock
Tests/TestCodeGenConfigurations/**/TestMocks
Tests/TestCodeGenConfigurations/EmbeddedInTarget-RelativeAbsolute/PackageOne/**/*.graphql.swift
Tests/TestCodeGenConfigurations/EmbeddedInTarget-RelativeAbsolute/PackageTwo/Sources/PackageTwo
!Tests/TestCodeGenConfigurations/**/SchemaConfiguration.swift
!Tests/TestCodeGenConfigurations/Other-CustomTarget/AnimalKingdomAPI/AnimalKingdomAPI.h
!Tests/TestCodeGenConfigurations/EmbeddedInTarget-RelativeAbsolute/PackageTwo/Sources/PackageTwo/PackageTwo.swift
/DerivedData-iphonesimulator
/DerivedData-iphoneos
DerivedData-iphonesimulator
DerivedData-iphoneos
*.xcarchive
DerivedData-watchos
DerivedData-watchsimulator
