sudo: false
dist: trusty

language: objective-c

osx_image: xcode8.3

matrix:
  include:
  - xcode_project: Apollo.xcodeproj
    xcode_scheme: Apollo
    xcode_sdk: iphonesimulator10.3
    env: DESTINATION="platform=iOS Simulator,OS=10.3.1,name=iPhone 7"
  - xcode_project: Apollo.xcodeproj
    xcode_scheme: Apollo
    xcode_sdk: iphonesimulator10.3
    env: DESTINATION="platform=iOS Simulator,OS=9.3,name=iPhone 6s"
  - xcode_project: Apollo.xcodeproj
    xcode_scheme: Apollo
    xcode_sdk: macosx10.12
    env: DESTINATION="platform=macOS,arch=x86_64"
  - xcode_project: Apollo.xcodeproj
    xcode_scheme: Apollo
    xcode_sdk: appletvsimulator10.2
    env: DESTINATION="platform=tvOS Simulator,OS=10.2,name=Apple TV 1080p"
  - xcode_project: ApolloSQLite.xcodeproj
    xcode_scheme: ApolloSQLite
    xcode_sdk: iphonesimulator10.3
    env: DESTINATION="platform=iOS Simulator,OS=10.3.1,name=iPhone 7"
  - xcode_project: ApolloSQLite.xcodeproj
    xcode_scheme: ApolloSQLite
    xcode_sdk: iphonesimulator10.3
    env: DESTINATION="platform=iOS Simulator,OS=9.3,name=iPhone 6s"
  - xcode_project: ApolloSQLite.xcodeproj
    xcode_scheme: ApolloSQLite
    xcode_sdk: macosx10.12
    env: DESTINATION="platform=macOS,arch=x86_64"

cache:
  directories:
    - ../starwars-server

before_install:
  - (./scripts/install-or-update-starwars-server.sh)
  - (cd ../starwars-server && npm start) &
  - npm install -g apollo-codegen

script:
  - set -o pipefail
  - xcodebuild clean build build-for-testing -project "${TRAVIS_XCODE_PROJECT}" -scheme "${TRAVIS_XCODE_SCHEME}" -sdk "${TRAVIS_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty
  - xcodebuild test-without-building -project "${TRAVIS_XCODE_PROJECT}" -scheme "${TRAVIS_XCODE_SCHEME}" -sdk "${TRAVIS_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty
