#include "Version.xcconfig"

INSTALL_PATH = @rpath
LD_DYLIB_INSTALL_NAME = @rpath/$(PRODUCT_NAME).$(WRAPPER_EXTENSION)/$(PRODUCT_NAME)
SKIP_INSTALL = YES

SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvsimulator appletvos watchsimulator watchos macosx

SDKROOT[sdk=iphone*] = iphoneos
VALID_ARCHS[sdk=iphone*] = arm64 armv7 armv7s
IPHONEOS_DEPLOYMENT_TARGET = 9.0
TARGETED_DEVICE_FAMILY[sdk=iphone*]  = 1,2
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SDKROOT[sdk=appletv*] = appletvos
TVOS_DEPLOYMENT_TARGET = 9.1
TARGETED_DEVICE_FAMILY[sdk=appletv*] = 3
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SDKROOT[sdk=watch*] = watchos
WATCHOS_DEPLOYMENT_TARGET = 3.0
TARGETED_DEVICE_FAMILY[sdk=watch*] = 4
LD_RUNPATH_SEARCH_PATHS[sdk=watch*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SDKROOT[sdk=macosx*] = macosx
VALID_ARCHS[sdk=macosx*] = x86_64
MACOSX_DEPLOYMENT_TARGET = 10.10
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
