version: 2.1

parameters:
  xcode_version:
    type: string
    default: "11.4.0"
  ios_current_version:
    type: string
    default: "13.4"
  ios_previous_version:
    type: string
    default: "12.4"
  ios_sdk:
    type: string
    default: "iphonesimulator13.4"
  macos_version: # The user-facing version string for macOS builds
    type: string
    default: "10.15"
  macos_sdk: # The full SDK string to use for macOS builds
    type: string
    default: "macosx10.15"
  tvos_version: # The user-facing version string of tvOS builds
    type: string
    default: "13.4"
  tvos_sdk:
    type: string
    default: "appletvsimulator13.4"

commands:
  common_test_steps:
    description: Commands to run for every set of tests
    steps:
      - restore_cache:
          key: starwars-server
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule update --init
      - run:
          command: ./scripts/install-or-update-starwars-server.sh
          name: Install/Update StarWars Server
      - run:
          command: cd ../starwars-server && npm start
          name: Start StarWars Server
          background: true
      - run:
          command: xcodebuild clean build build-for-testing -project "Apollo.xcodeproj" -scheme "${CIRCLE_XCODE_SCHEME}" -sdk "${CIRCLE_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty
          name: Clean and build for testing
      - run:
          command: xcodebuild test-without-building -project "Apollo.xcodeproj" -scheme "${CIRCLE_XCODE_SCHEME}" -sdk "${CIRCLE_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty
          name: Run tests
      - save_cache:
          key: starwars-server
          paths:
            - ../starwars-server


# Important! When adding a new job to `jobs`, make sure to define when it
# executes by also adding it to the `workflows` section below!
jobs:
  macOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=macOS,arch=x86_64
      CIRCLE_XCODE_SCHEME: Apollo
      CIRCLE_XCODE_SDK: << pipeline.parameters.macos_sdk >>
    steps:
      - common_test_steps

  iOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_current_version >>,name=iPhone 11
      CIRCLE_XCODE_SCHEME: Apollo
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  iOS_previous:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_previous_version >>,name=iPhone Xs
      CIRCLE_XCODE_SCHEME: Apollo
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  tvOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=tvOS Simulator,OS=<< pipeline.parameters.tvos_version >>,name=Apple TV
      CIRCLE_XCODE_SCHEME: Apollo
      CIRCLE_XCODE_SDK: << pipeline.parameters.tvos_sdk >>
    steps:
      - common_test_steps

  SQLitemacOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=macOS,arch=x86_64
      CIRCLE_XCODE_SCHEME: ApolloSQLite
      CIRCLE_XCODE_SDK: << pipeline.parameters.macos_sdk >>
    steps:
      - common_test_steps

  SQLiteiOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_current_version >>,name=iPhone 11
      CIRCLE_XCODE_SCHEME: ApolloSQLite
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  SQLiteiOS_previous:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_previous_version >>,name=iPhone Xs
      CIRCLE_XCODE_SCHEME: ApolloSQLite
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  WebSocketmacOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=macOS,arch=x86_64
      CIRCLE_XCODE_SCHEME: ApolloWebSocket
      CIRCLE_XCODE_SDK: << pipeline.parameters.macos_sdk >>
    steps:
      - common_test_steps

  WebSocketiOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_current_version >>,name=iPhone 11
      CIRCLE_XCODE_SCHEME: ApolloWebSocket
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  WebSocketiOS_previous:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=iOS Simulator,OS=<< pipeline.parameters.ios_previous_version >>,name=iPhone Xs
      CIRCLE_XCODE_SCHEME: ApolloWebSocket
      CIRCLE_XCODE_SDK: << pipeline.parameters.ios_sdk >>
    steps:
      - common_test_steps

  CodegenLibmacOS_current:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    environment:
      DESTINATION: platform=macOS,arch=x86_64
      CIRCLE_XCODE_SCHEME: ApolloCodegenLib
      CIRCLE_XCODE_SDK: << pipeline.parameters.macos_sdk >>
    steps:
      - common_test_steps

  CocoaPodsTrunk:
    macos:
      xcode: << pipeline.parameters.xcode_version >>
    steps:
      - checkout
      # TODO: Remove when Circle updates the version of CP installed on their
      # image to one that doesn't have https://github.com/CocoaPods/CocoaPods/issues/9176
      - run: pod repo add-cdn trunk 'https://cdn.cocoapods.org/'
      - run: pod trunk push Apollo.podspec
      - run: pod trunk me clean-sessions --all

workflows:
  version: 2
  # This workflow builds and tests the library across various operating systems and versions
  build-and-test:
    jobs:
      - macOS_current:
          name: Apollo macOS << pipeline.parameters.macos_version >>
      - iOS_current:
          name: Apollo iOS << pipeline.parameters.ios_current_version >>
      - iOS_previous:
          name: Apollo iOS << pipeline.parameters.ios_previous_version >>
      - tvOS_current:
          name: Apollo tvOS << pipeline.parameters.tvos_version >>
      - SQLitemacOS_current:
          name: ApolloSQLite macOS << pipeline.parameters.macos_version >>
      - SQLiteiOS_current:
          name: ApolloSQLite iOS << pipeline.parameters.ios_current_version >>
      - SQLiteiOS_previous:
          name: ApolloSQLite iOS << pipeline.parameters.ios_previous_version >>
      - WebSocketmacOS_current:
          name: ApolloWebSocket macOS << pipeline.parameters.macos_version >>
      - WebSocketiOS_current:
          name: ApolloWebSocket iOS << pipeline.parameters.ios_current_version >>
      - WebSocketiOS_previous:
          name: ApolloWebSocket iOS << pipeline.parameters.ios_previous_version >>
      - CodegenLibmacOS_current:
          name: Swift Code Generation
      - CocoaPodsTrunk:
          name: Push Podspec to CocoaPods Trunk
          requires:
            - Apollo macOS << pipeline.parameters.macos_version >>
            - Apollo iOS << pipeline.parameters.ios_current_version >>
            - Apollo iOS << pipeline.parameters.ios_previous_version >>
            - Apollo tvOS << pipeline.parameters.tvos_version >>
            - ApolloSQLite macOS << pipeline.parameters.macos_version >>
            - ApolloSQLite iOS << pipeline.parameters.ios_current_version >>
            - ApolloSQLite iOS << pipeline.parameters.ios_previous_version >>
            - ApolloWebSocket macOS << pipeline.parameters.macos_version >>
            - ApolloWebSocket iOS << pipeline.parameters.ios_current_version >>
            - ApolloWebSocket iOS << pipeline.parameters.ios_previous_version >>
            - Swift Code Generation
          filters:
            # Only build semver tags
            tags:
              only: /((\d*)\.(\d*)\.(\d*)).*/
            # Don't run this on any branches
            branches:
              ignore: /.*/
