WRAPPER_EXTENSION = framework

INSTALL_PATH = @rpath
LD_DYLIB_INSTALL_NAME = @rpath/$(PRODUCT_NAME).$(WRAPPER_EXTENSION)/$(PRODUCT_NAME)
SKIP_INSTALL = YES

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath

FRAMEWORK_VERSION[sdk=macosx*] = A

APPLICATION_EXTENSION_API_ONLY = YES

DEFINES_MODULE = YES
