#include "Workspace-Analysis.xcconfig"
#include "Workspace-Code-Generation.xcconfig"
#include "Workspace-Deployment-Targets.xcconfig"
#include "Workspace-Language.xcconfig"
#include "Workspace-Linking.xcconfig"
#include "Workspace-Packaging.xcconfig"
#include "Workspace-Search-Paths.xcconfig"
#include "Workspace-Warnings.xcconfig"
#include "Project-Version.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(CONFIGURATION:upper)=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(CONFIGURATION:upper)
VERSIONING_SYSTEM = apple-generic
