#include "Workspace-Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO

// Deployment
COPY_PHASE_STRIP = NO

// Code Generation
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
LLVM_LTO = NO
SWIFT_COMPILATION_MODE = singlefile

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf

ENABLE_NS_ASSERTIONS = YES
