// Language
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_ASM_KEYWORD = YES
CLANG_LINK_OBJC_RUNTIME = YES
CLANG_ENABLE_OBJC_WEAK = YES

// ARC enabled
CLANG_ENABLE_OBJC_ARC = YES

// Enable @import modules support
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = YES

CLANG_CXX_LANGUAGE_STANDARD = gnu++11
CLANG_CXX_LIBRARY = libc++
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

ENABLE_STRICT_OBJC_MSGSEND = YES

// Swift
SWIFT_VERSION = 5.0
SWIFT_PRECOMPILE_BRIDGING_HEADER = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(CONFIGURATION:upper)
SWIFT_SWIFT3_OBJC_INFERENCE = Off
