#include "Workspace-Universal-Target.xcconfig"
#include "Workspace-Target-Framework.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvsimulator appletvos watchsimulator watchos macosx

// iOS-specific default settings
SDKROOT[sdk=iphone*] = iphoneos
TARGETED_DEVICE_FAMILY[sdk=iphone*]  = 1,2

// TV-specific default settings
SDKROOT[sdk=appletv*] = appletvos
TARGETED_DEVICE_FAMILY[sdk=appletv*] = 3

// Watch-specific default settings
SDKROOT[sdk=watch*] = watchos
TARGETED_DEVICE_FAMILY[sdk=watch*] = 4

// macOS-specific default settings
SDKROOT[sdk=macosx*] = macosx
SUPPORTS_MACCATALYST = YES

