<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ParsingPerformanceTests</key>
		<dict>
			<key>testParseResult()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.09509</real>
					<key>baselineIntegrationDisplayName</key>
					<string>17 Nov 2020 at 13:47:48</string>
				</dict>
			</dict>
			<key>testParseResultFast()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017559</real>
					<key>baselineIntegrationDisplayName</key>
					<string>17 Nov 2020 at 13:47:48</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
